#addtocart {
  background-color: chartreuse;
  padding: 5px;
  border-radius: 5px;
}

#addtocart:hover {
  background-color: rgb(238, 8, 8);
}

body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#pro {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 10px;
}

.maindiv {
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  width: 250px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 320px;
}

#img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
}

.heading {
  color: #333;
}

#addtocart {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#addtocart {
  background-color: rgb(238, 8, 8);
  padding: 5px;
  border-radius: 5px;
}

#addtocart:hover {
  background-color: chartreuse;
}

#loadbtn {
  width: 100px;
  height: 40px;
  color: black;
  background-color: white;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  top: 20px;
  right: 20px;
}

#logout {
  width: 100px;
  height: 40px;
  color: black;
  background-color: white;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  position: fixed;
  top: 20px;
  left: 20px;
}

#logout:hover {
  background-color: #3498db;
  color: white;
}

#loadbtn:hover {
  background-color: #3498db;
  color: white;
}

h1 {
  text-align: center;
}
#cartbtn {
  top: 20px;
  position: fixed;
  right: 80px;
}
#out {
  top: 20px;
  position: fixed;
  right: 10px;
}
